
.vs/LastTerm1/v17/Browse.VC.db-wal
.vs/LastTerm1/v17/Browse.VC.db
.vs/LastTerm1/v17/Browse.VC.db-shm
.vs/LastTerm1/v17/Browse.VC.opendb
.vs/LastTerm1/v17/ipch/AutoPCH/28d6f851c1b0f3a2/PLANETMANAGER.ipch
.vs/LastTerm1/v17/ipch/AutoPCH/7839fb456fae0e6d/MAIN.ipch
.vs/LastTerm1/v17/ipch/AutoPCH/794183331c985581/STARSYSTEM.ipch
.vs/LastTerm1/v17/ipch/AutoPCH/b2ec4039f7e2167f/PLANETMANAGER.ipch
LastTerm1/LastTerm1.vcxproj
LastTerm1/LastTerm1.vcxproj.filters
